/*------ Left Side Nav Bar Menu CSS ------*/
.tabs-left {
  height: 100%;
  min-height: 490px;
  width: 20%;
  max-width: 290px;
  /* padding-left: 20px; */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  min-width: 260px;
  background-color: #95afc0;
}

.tabs-left > .nav-tabs {
  /* background-color: #95afc0; */
  min-height: 100%;
  padding-left: 5px;
  text-align: center;
  border-right: 1px solid #ddd;
  border-bottom: 0;
}

.tabs-left > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a {
  color: black;
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.user-img {
  width: 80%;
  height: 80%;
}

.user-info {
  padding-bottom: 20px;
}

/*tab content css*/
.tab-content {
  margin-left: 30%; /* Same as the width of the sidenav */
  padding: 0px 10px;
  padding-bottom: 20px;
  position: absolute;
  overflow: auto;
}

.table-img {
  padding: 20px;
}

.img-content {
  padding:1px;
  border:1px solid #021a40;
  width: 240px;
  height: 240px;
}

/* Navbar responsive design */
@media screen and (max-height: 500px) {
  .user-img {
    display: none;
  }
}

/* Tab content responsive design */
@media screen and (max-width: 900px) {
  .tab-content {
    margin-left: 280px;
  }
}
